body {
  background: #e5f4f9;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  border-bottom: solid 1px #e5f4f9;
  padding: 0 0 20px 0;
}

a {
  color: #029bd3;
}

#main-container {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
}

.search-form-input-box {
  background: #e5f4f9;
  font-size: 15px;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}

.search-form-submit-button {
  background: #029bd3;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}

footer {
  border-top: solid 1px #e5f4f9;
  padding: 20px 0 0 0;
  font-size: 12px;
  color: rgba(0 0 0 0.6);
  text-align: center;
}
